.imageList-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.image-box {
    width: auto;
    margin: 1%;
}

.image-box img {
    height: 216px;
    width: auto;
    border-radius: 5px;
}